body, html {
  font-family: "Roboto", sans-serif;
  background: none;
  transition:.35s;
}

section{
  overflow-x:hidden;
}

.content{
	max-width:1200px;
	margin: auto;
}

.body-content{
	margin-top:150px;
}

.full-back{
  position:absolute;
  height:100%;
  left:0;
  right:0;
  z-index:-2;
  transition:.35s;
}

.header{
	padding:8px 16px;
	position:absolute;
	width:100%;
	top:0;
}

.header-text{
	margin:0;
	font-size:28px;
	float:left;
}

.header-nav{
	float:right;
	padding-top:10px;
}

.header-nav-entry{
	text-decoration: none;
	color:#5f5f5f;
	transition: 0.25s;
	font-size:16px;
  margin-left:8px;
}
.header-nav-entry.active{
  color:black;
  text-decoration:underline;
}
.header-nav-entry:focus{
  outline:none;
}

.header-nav-entry:not(.active):hover{
	text-decoration: none;
	color:black;
	transition: 0.25s;
}

.header-back{
  position:absolute;
  background-color:white;
  width:100%;
  height:484px;
  top: 0;
  z-index:-1;
  transition:.35s;
}

.float-left{
	float:left;
}

.float-right{
	float:right;
}

.clearfix{
	clear:both;
}

.tablist{
	display:inline;
	position: relative;
    bottom: -3px;
}

.tab{
	display: inline-block;
    background-color: #D3DCE6;
    padding: 1px;
	overflow:hidden;
	position:relative;
	margin-right:-10px;
}

.tab:not(:first-child){
	-webkit-clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
}

.tab:first-child{
	-webkit-clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 0% 100%);
}

.tab.active{
	z-index:1;
}

.tab:not(:first-child) > .tabcontent{
	-webkit-clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
	padding: 4px 28px;
}

.tab:first-child > .tabcontent{
	-webkit-clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 0% 100%);
	padding: 4px 28px 4px 8px;
}

.tabcontent{
	background-color: white;
	font-size: 14px;
}

.tab.active > .tabcontent{
	font-weight:500;
}

.tab:not(.active) > .tabcontent{
	background-color:#efefef;
	color: black;
    text-decoration: none;
}

.tab:not(.active):hover{
	text-decoration: none;
}

table {
  width: 100%; }
  table th {
    font-size: 1.6rem;
    text-align: left;
    border-bottom: 1px solid #D3DCE6;
    padding-bottom: 5px;
    padding: 15px 5px;
    border-left:1px solid #e5e5e5;
    }
  table tr th:last-child {
    border-right:1px solid #e5e5e5;}
  table td {
    padding: 15px 5px;
    font-size: 1.6rem;
    border-left:1px solid #e5e5e5;}
  table tr td:last-child {
    border-right:1px solid #e5e5e5;}
  table tr:not(:first-child):hover {
    background-color: #f4f6f8; }
  table tr:first-child {
    border-top: 1px solid #e5e5e5;
  }
		table tr{
			border-bottom: 1px solid #e5e5e5;
		}
  table a {
    color: #4A90E2; }
	
.action-search-hr{
	margin-bottom:7px;
}

.square-btn{
    overflow: hidden;
    border: 1px solid #e5e5e5;
    background-color: white;
    padding: 2px 6px;
    border-radius: 4px;
	width: 34px;
    height: 34px;
}
.square-btn.inline{
	position: relative;
    top: 2px;
}
.square-btn:hover{
	background-color: #428bca;
    color: white;
}
.square-btn:active{
	background-color:#3c7fb9;
	color:white;
}

.btn-rect{
    overflow: hidden;
    border: 1px solid #e5e5e5;
    background-color: white;
    padding: 2px 6px;
    border-radius: 4px;
    height: 34px;
	font-size:14px;
}
.btn-rect.inline{
	position: relative;
    top: 2px;
}
.btn-rect:hover{
	background-color: #428bca;
    color: white;
}
.btn-rect:active{
	background-color:#3c7fb9;
	color:white;
}

.flavor{
	font-family: 'Raleway', sans-serif;
	font-size:64px;
  color: black;
  line-height: normal;
}

.projects-container{
  padding-top:258px;
}

.project-square{
  height:560px;
  position:relative;
  left:0;
  transition:.65s;
}

.project-square:focus{
  outline:none;
}

.project-cover{
  position:absolute;
  top:0;
  bottom:0;
  left:15px;
  right:15px;
  transition:.35s;
  color:white;
  z-index:1;
}
  .project-cover.ng-hide{
    opacity:0;
  }
  
.project-overlay-text{
  text-align:center;
  margin:auto;
  position:absolute;
  top:50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
}
.project-title{
  line-height:normal;
  font-size:54px;
  font-family: 'Raleway', sans-serif;
  margin:0;
}
.project-subtitle{
  line-height:normal;
  font-size:16px;
  font-family: 'Raleway', sans-serif;
  margin:0;
}

.project-image{
  position:absolute;
  top:50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
}

.project-content{
  color:white;
  line-height:normal;
  padding-top:96px;
}

.project-content-title{
  font-size:32px;
  font-family: 'Raleway', sans-serif;
  margin:0;
}
.project-content-subtitle{
  font-size:16px;
  font-family: 'Raleway', sans-serif;
  margin:0;
}
.project-content-url{
  color:white;
  font-size:16px;
  font-family: 'Raleway', sans-serif;
  margin:0;
  text-decoration:underline;
}
.project-content-url:hover{
  color:white;
  font-size:16px;
  font-family: 'Raleway', sans-serif;
  margin:0;
  opacity:.85;
  text-decoration:underline;
}
.project-content-description{
  font-size:14px;
  font-family: 'Raleway', sans-serif;
  margin:32px 0 0 0 ;
}

.about-content{
  color:black;
  line-height:normal;
  padding-top:96px;
}
.about-content-description{
  font-size:14px;
  font-family: 'Raleway', sans-serif;
  margin:32px 0 0 0 ;
}